# Visual Studio Code config. files
*.json
.build/*.*
build/*.*

# MacOS directory files
*/.DS_Store
.DS_Store

# KiCad .zip files
Beacon/Beacon230121/test_schematic/test_schematic-backups/*
RadioTestInterface/.idea/misc.xml
Arduino/sketch_feb18a/KISS_tkc.h
Arduino/sketch_feb18a/sketch_feb18a_tkc.ino
Arduino/sketch_feb18a/.vscode/c_cpp_properties.json
Arduino/sketch_feb18a/.vscode/arduino.json
e2ecommands_metro/.build/*
e2ecommands_metro/build/core/variant.cpp.d
e2ecommands_metro/build/.last-used
e2ecommands_metro/build/e2ecommands_metro.ino.bin
e2ecommands_metro/build/e2ecommands_metro.ino.elf
e2ecommands_metro/build/e2ecommands_metro.ino.hex
e2ecommands_metro/build/e2ecommands_metro.ino.map
e2ecommands_metro/build/includes.cache
e2ecommands_metro/build/libraries.cache
e2ecommands_metro/build/core/variant.cpp.o
e2ecommands_metro/build/libraries/Adafruit_ZeroDMA/Adafruit_ZeroDMA.cpp.d
e2ecommands_metro/build/libraries/Adafruit_ZeroDMA/Adafruit_ZeroDMA.cpp.o
e2ecommands_metro/build/libraries/I2C_Temperature_Sensors_derived_from_the_LM75/Temperature_LM75_Derived.cpp.d
e2ecommands_metro/build/libraries/I2C_Temperature_Sensors_derived_from_the_LM75/Temperature_LM75_Derived.cpp.o
e2ecommands_metro/build/libraries/LibPrintf/LibPrintf.cpp.d
e2ecommands_metro/build/libraries/LibPrintf/LibPrintf.cpp.o
e2ecommands_metro/build/libraries/SPI/SPI.cpp.d
e2ecommands_metro/build/libraries/SPI/SPI.cpp.o
e2ecommands_metro/build/libraries/Wire/Wire.cpp.d
e2ecommands_metro/build/libraries/Wire/Wire.cpp.o
e2ecommands_metro/build/preproc/ctags_target_for_gcc_minus_e.cpp
e2ecommands_metro/build/sketch/ax_fifo.h
e2ecommands_metro/build/sketch/ax_hw.cpp
e2ecommands_metro/build/sketch/ax_hw.cpp.d
e2ecommands_metro/build/sketch/ax_hw.cpp.o
e2ecommands_metro/build/sketch/ax_hw.h
e2ecommands_metro/build/sketch/ax_modes.cpp
e2ecommands_metro/build/sketch/ax_modes.cpp.d
e2ecommands_metro/build/sketch/ax_modes.cpp.o
e2ecommands_metro/build/sketch/ax_modes.h
e2ecommands_metro/build/sketch/ax_params.cpp
e2ecommands_metro/build/sketch/ax_params.cpp.d
e2ecommands_metro/build/sketch/ax_params.cpp.o
e2ecommands_metro/build/sketch/ax_params.h
e2ecommands_metro/build/sketch/ax_reg_values.h
e2ecommands_metro/build/sketch/ax_reg.h
e2ecommands_metro/build/sketch/ax.cpp
e2ecommands_metro/build/sketch/ax.cpp.d
e2ecommands_metro/build/sketch/ax.cpp.o
e2ecommands_metro/build/sketch/ax.h
e2ecommands_metro/build/sketch/beacon.cpp
e2ecommands_metro/build/sketch/beacon.cpp.d
e2ecommands_metro/build/sketch/beacon.cpp.o
e2ecommands_metro/build/sketch/beacon.h
e2ecommands_metro/build/sketch/commands.cpp
e2ecommands_metro/build/sketch/commands.cpp.d
e2ecommands_metro/build/sketch/commands.cpp.o
e2ecommands_metro/build/sketch/commands.h
e2ecommands_metro/build/sketch/constants.cpp
e2ecommands_metro/build/sketch/constants.cpp.d
e2ecommands_metro/build/sketch/constants.cpp.o
e2ecommands_metro/build/sketch/constants.h
e2ecommands_metro/build/sketch/e2ecommands_metro.ino.cpp
e2ecommands_metro/build/sketch/e2ecommands_metro.ino.cpp.d
e2ecommands_metro/build/sketch/e2ecommands_metro.ino.cpp.o
e2ecommands_metro/build/sketch/fec.cpp
e2ecommands_metro/build/sketch/fec.cpp.d
e2ecommands_metro/build/sketch/fec.cpp.o
e2ecommands_metro/build/sketch/fec.h
e2ecommands_metro/build/sketch/KISS.cpp
e2ecommands_metro/build/sketch/KISS.cpp.d
e2ecommands_metro/build/sketch/KISS.cpp.o
e2ecommands_metro/build/sketch/KISS.h
e2ecommands_metro/build/sketch/packetfinder.h
e2ecommands_metro/build/sketch/testing_support.cpp
e2ecommands_metro/build/sketch/testing_support.cpp.d
e2ecommands_metro/build/sketch/testing_support.cpp.o
e2ecommands_metro/build/sketch/testing_support.h
e2ecommands_metro/build/sketch/.build/preproc/ctags_target_for_gcc_minus_e.cpp
e2ecommands_metro/build/sketch/.build/sketch/ax_fifo.h
e2ecommands_metro/build/sketch/.build/sketch/ax_hw.cpp
e2ecommands_metro/build/sketch/.build/sketch/ax_hw.h
e2ecommands_metro/build/sketch/.build/sketch/ax_modes.cpp
e2ecommands_metro/build/sketch/.build/sketch/ax_modes.h
e2ecommands_metro/build/sketch/.build/sketch/ax_params.cpp
e2ecommands_metro/build/sketch/.build/sketch/ax_params.h
e2ecommands_metro/build/sketch/.build/sketch/ax_reg_values.h
e2ecommands_metro/build/sketch/.build/sketch/ax_reg.h
e2ecommands_metro/build/sketch/.build/sketch/ax.cpp
e2ecommands_metro/build/sketch/.build/sketch/ax.h
e2ecommands_metro/build/sketch/.build/sketch/beacon.cpp
e2ecommands_metro/build/sketch/.build/sketch/beacon.h
e2ecommands_metro/build/sketch/.build/sketch/commands.cpp
e2ecommands_metro/build/sketch/.build/sketch/commands.h
e2ecommands_metro/build/sketch/.build/sketch/constants.cpp
e2ecommands_metro/build/sketch/.build/sketch/constants.h
e2ecommands_metro/build/sketch/.build/sketch/e2ecommands_metro.ino.cpp
e2ecommands_metro/build/sketch/.build/sketch/fec.cpp
e2ecommands_metro/build/sketch/.build/sketch/fec.h
e2ecommands_metro/build/sketch/.build/sketch/KISS.cpp
e2ecommands_metro/build/sketch/.build/sketch/KISS.h
e2ecommands_metro/build/sketch/.build/sketch/packetfinder.h
e2ecommands_metro/build/sketch/.build/sketch/testing_support.cpp
e2ecommands_metro/build/sketch/.build/sketch/testing_support.h
build/core/variant.cpp.d
build/core/variant.cpp.o
build/libraries/Adafruit_ZeroDMA/Adafruit_ZeroDMA.cpp.d
build/libraries/Adafruit_ZeroDMA/Adafruit_ZeroDMA.cpp.o
build/libraries/I2C_Temperature_Sensors_derived_from_the_LM75/Temperature_LM75_Derived.cpp.d
build/libraries/I2C_Temperature_Sensors_derived_from_the_LM75/Temperature_LM75_Derived.cpp.o
build/libraries/LibPrintf/LibPrintf.cpp.d
build/libraries/LibPrintf/LibPrintf.cpp.o
build/libraries/SPI/SPI.cpp.d
build/libraries/SPI/SPI.cpp.o
build/libraries/Wire/Wire.cpp.d
build/libraries/Wire/Wire.cpp.o
build/preproc/ctags_target_for_gcc_minus_e.cpp
build/sketch/ax.cpp
build/sketch/ax.cpp.d
build/sketch/ax.cpp.o
build/sketch/ax.h
build/sketch/ax_fifo.h
build/sketch/ax_hw.cpp
build/sketch/ax_hw.cpp.d
build/sketch/ax_hw.cpp.o
build/sketch/ax_hw.h
build/sketch/ax_modes.cpp
build/sketch/ax_modes.cpp.d
build/sketch/ax_modes.cpp.o
build/sketch/ax_modes.h
build/sketch/ax_params.cpp
build/sketch/ax_params.cpp.d
build/sketch/ax_params.cpp.o
build/sketch/ax_params.h
build/sketch/ax_reg.h
build/sketch/ax_reg_values.h
build/sketch/beacon.cpp
build/sketch/beacon.cpp.d
build/sketch/beacon.cpp.o
build/sketch/beacon.h
build/sketch/commands.cpp
build/sketch/commands.cpp.d
build/sketch/commands.cpp.o
build/sketch/commands.h
build/sketch/constants.cpp
build/sketch/constants.cpp.d
build/sketch/constants.cpp.o
build/sketch/constants.h
build/sketch/e2ecommands_metro.ino.cpp
build/sketch/e2ecommands_metro.ino.cpp.d
build/sketch/e2ecommands_metro.ino.cpp.o
build/sketch/fec.cpp
build/sketch/fec.cpp.d
build/sketch/fec.cpp.o
build/sketch/fec.h
build/sketch/KISS.cpp
build/sketch/KISS.cpp.d
build/sketch/KISS.cpp.o
build/sketch/KISS.h
build/sketch/packetfinder.h
build/sketch/testing_support.cpp
build/sketch/testing_support.cpp.d
build/sketch/testing_support.cpp.o
build/sketch/testing_support.h
e2ecommands_metro/build/core/abi.cpp.d
e2ecommands_metro/build/core/abi.cpp.o
e2ecommands_metro/build/core/avr/dtostrf.c.d
e2ecommands_metro/build/core/avr/dtostrf.c.o
e2ecommands_metro/build/core/core.a
e2ecommands_metro/build/core/cortex_handlers.c.d
e2ecommands_metro/build/core/cortex_handlers.c.o
e2ecommands_metro/build/core/delay.c.d
e2ecommands_metro/build/core/delay.c.o
e2ecommands_metro/build/core/hooks.c.d
e2ecommands_metro/build/core/hooks.c.o
e2ecommands_metro/build/core/IPAddress.cpp.d
e2ecommands_metro/build/core/IPAddress.cpp.o
e2ecommands_metro/build/core/itoa.c.d
e2ecommands_metro/build/core/itoa.c.o
e2ecommands_metro/build/core/main.cpp.d
e2ecommands_metro/build/core/main.cpp.o
e2ecommands_metro/build/core/math_helper.c.d
e2ecommands_metro/build/core/math_helper.c.o
e2ecommands_metro/build/core/new.cpp.d
e2ecommands_metro/build/core/new.cpp.o
e2ecommands_metro/build/core/Print.cpp.d
e2ecommands_metro/build/core/Print.cpp.o
e2ecommands_metro/build/core/pulse.c.d
e2ecommands_metro/build/core/pulse.c.o
e2ecommands_metro/build/core/pulse_asm.S.d
e2ecommands_metro/build/core/pulse_asm.S.o
e2ecommands_metro/build/core/Reset.cpp.d
e2ecommands_metro/build/core/Reset.cpp.o
e2ecommands_metro/build/core/SERCOM.cpp.d
e2ecommands_metro/build/core/SERCOM.cpp.o
e2ecommands_metro/build/core/startup.c.d
e2ecommands_metro/build/core/startup.c.o
e2ecommands_metro/build/core/Stream.cpp.d
e2ecommands_metro/build/core/Stream.cpp.o
e2ecommands_metro/build/core/Tone.cpp.d
e2ecommands_metro/build/core/Tone.cpp.o
e2ecommands_metro/build/core/Uart.cpp.d
e2ecommands_metro/build/core/Uart.cpp.o
e2ecommands_metro/build/core/USB/CDC.cpp.d
e2ecommands_metro/build/core/USB/CDC.cpp.o
e2ecommands_metro/build/core/USB/PluggableUSB.cpp.d
e2ecommands_metro/build/core/USB/PluggableUSB.cpp.o
e2ecommands_metro/build/core/USB/samd21_host.c.d
e2ecommands_metro/build/core/USB/samd21_host.c.o
e2ecommands_metro/build/core/USB/SAMD21_USBDevice.cpp.d
e2ecommands_metro/build/core/USB/SAMD21_USBDevice.cpp.o
e2ecommands_metro/build/core/USB/USBCore.cpp.d
e2ecommands_metro/build/core/USB/USBCore.cpp.o
e2ecommands_metro/build/core/WInterrupts.c.d
e2ecommands_metro/build/core/WInterrupts.c.o
e2ecommands_metro/build/core/wiring.c.d
e2ecommands_metro/build/core/wiring.c.o
e2ecommands_metro/build/core/wiring_analog.c.d
e2ecommands_metro/build/core/wiring_analog.c.o
e2ecommands_metro/build/core/wiring_digital.c.d
e2ecommands_metro/build/core/wiring_digital.c.o
e2ecommands_metro/build/core/wiring_private.c.d
e2ecommands_metro/build/core/wiring_private.c.o
e2ecommands_metro/build/core/wiring_shift.c.d
e2ecommands_metro/build/core/wiring_shift.c.o
e2ecommands_metro/build/core/WMath.cpp.d
e2ecommands_metro/build/core/WMath.cpp.o
e2ecommands_metro/build/core/WString.cpp.d
e2ecommands_metro/build/core/WString.cpp.o
e2ecommands_metro/build/sketch/ExternalWatchdog.cpp
e2ecommands_metro/build/sketch/ExternalWatchdog.cpp.d
e2ecommands_metro/build/sketch/ExternalWatchdog.cpp.o
e2ecommands_metro/build/sketch/ExternalWatchdog.h
e2ecommands_metro/build/sketch/efuse.cpp.d
e2ecommands_metro/build/sketch/efuse.cpp.o
e2ecommands_metro/build/sketch/efuse.cpp
e2ecommands_metro/build/sketch/efuse.h
e2ecommands_metro/build/sketch/efuse.cpp
e2ecommands_metro/build/sketch/efuse.h
RadioTestInterface/.idea/aws.xml
e2ecommands_metro/build/sketch/antenna.cpp.d
e2ecommands_metro/build/sketch/antenna.cpp.o
e2ecommands_metro/build/sketch/radiohw.cpp.d
e2ecommands_metro/build/sketch/radiohw.cpp.o
e2ecommands_metro/build/sketch/radiohw.cpp
e2ecommands_metro/build/sketch/radiohw.cpp
e2ecommands_metro/build/sketch/radiohw.cpp
e2ecommands_metro/build/sketch/radiohw.cpp
e2ecommands_metro/build/sketch/radiohw.cpp
e2ecommands_metro/build/sketch/radiohw.h
e2ecommands_metro/build/sketch/radiohw.cpp
e2ecommands_metro/build/sketch/radiohw.cpp
e2ecommands_metro/build/sketch/commands2.cpp
e2ecommands_metro/build/sketch/commands2.cpp.d
e2ecommands_metro/build/sketch/commands2.h
e2ecommands_metro/build/sketch/commands2.cpp.o
e2ecommands_metro/build/sketch/efuse.cpp
e2ecommands_metro/build/sketch/efuse.cpp
e2ecommands_metro/build/sketch/efuse.h
e2ecommands_metro/build/sketch/radiohw.cpp
e2ecommands_metro/build/sketch/radiohw.h
/e2ecommands_metro/html
/e2ecommands_metro/latex
/fec_test/build
build/sketch/fec_test.ino.cpp.d
build/sketch/fec_test.ino.cpp.o
e2ecommands_metro/build/sketch/radio.cpp.o
e2ecommands_metro/build/sketch/radio.cpp.o
/e2ecommands_metro/build
/e2ecommands_metro/build
e2ecommands_metro/build/sketch/efuse.cpp
e2ecommands_metro/build/sketch/radio.cpp
e2ecommands_metro/build/sketch/radio.cpp.d
e2ecommands_metro/build/sketch/radio.cpp.o
e2ecommands_metro/build/sketch/radio.cpp.o
/e2ecommands_metro/build
/e2ecommands_metro/build
/e2ecommands_metro/build
