# Visual Studio Code config. files
*.json
.build/*.*
build/*.*

# MacOS directory files
*/.DS_Store
.DS_Store

# KiCad .zip files
Beacon/Beacon230121/test_schematic/test_schematic-backups/*
RadioTestInterface/.idea/misc.xml
Arduino/sketch_feb18a/KISS_tkc.h
Arduino/sketch_feb18a/sketch_feb18a_tkc.ino
Arduino/sketch_feb18a/.vscode/c_cpp_properties.json
Arduino/sketch_feb18a/.vscode/arduino.json
e2ecommands_metro/.build/*
e2ecommands_metro/build/core/variant.cpp.d
e2ecommands_metro/build/.last-used
e2ecommands_metro/build/e2ecommands_metro.ino.bin
e2ecommands_metro/build/e2ecommands_metro.ino.elf
e2ecommands_metro/build/e2ecommands_metro.ino.hex
e2ecommands_metro/build/e2ecommands_metro.ino.map
e2ecommands_metro/build/includes.cache
e2ecommands_metro/build/libraries.cache
e2ecommands_metro/build/core/variant.cpp.o
e2ecommands_metro/build/libraries/Adafruit_ZeroDMA/Adafruit_ZeroDMA.cpp.d
e2ecommands_metro/build/libraries/Adafruit_ZeroDMA/Adafruit_ZeroDMA.cpp.o
e2ecommands_metro/build/libraries/I2C_Temperature_Sensors_derived_from_the_LM75/Temperature_LM75_Derived.cpp.d
e2ecommands_metro/build/libraries/I2C_Temperature_Sensors_derived_from_the_LM75/Temperature_LM75_Derived.cpp.o
e2ecommands_metro/build/libraries/LibPrintf/LibPrintf.cpp.d
e2ecommands_metro/build/libraries/LibPrintf/LibPrintf.cpp.o
e2ecommands_metro/build/libraries/SPI/SPI.cpp.d
e2ecommands_metro/build/libraries/SPI/SPI.cpp.o
e2ecommands_metro/build/libraries/Wire/Wire.cpp.d
e2ecommands_metro/build/libraries/Wire/Wire.cpp.o
e2ecommands_metro/build/preproc/ctags_target_for_gcc_minus_e.cpp
e2ecommands_metro/build/sketch/ax_fifo.h
e2ecommands_metro/build/sketch/ax_hw.cpp
e2ecommands_metro/build/sketch/ax_hw.cpp.d
e2ecommands_metro/build/sketch/ax_hw.cpp.o
e2ecommands_metro/build/sketch/ax_hw.h
e2ecommands_metro/build/sketch/ax_modes.cpp
e2ecommands_metro/build/sketch/ax_modes.cpp.d
e2ecommands_metro/build/sketch/ax_modes.cpp.o
e2ecommands_metro/build/sketch/ax_modes.h
e2ecommands_metro/build/sketch/ax_params.cpp
e2ecommands_metro/build/sketch/ax_params.cpp.d
e2ecommands_metro/build/sketch/ax_params.cpp.o
e2ecommands_metro/build/sketch/ax_params.h
e2ecommands_metro/build/sketch/ax_reg_values.h
e2ecommands_metro/build/sketch/ax_reg.h
e2ecommands_metro/build/sketch/ax.cpp
e2ecommands_metro/build/sketch/ax.cpp.d
e2ecommands_metro/build/sketch/ax.cpp.o
e2ecommands_metro/build/sketch/ax.h
e2ecommands_metro/build/sketch/beacon.cpp
e2ecommands_metro/build/sketch/beacon.cpp.d
e2ecommands_metro/build/sketch/beacon.cpp.o
e2ecommands_metro/build/sketch/beacon.h
e2ecommands_metro/build/sketch/commands.cpp
e2ecommands_metro/build/sketch/commands.cpp.d
e2ecommands_metro/build/sketch/commands.cpp.o
e2ecommands_metro/build/sketch/commands.h
e2ecommands_metro/build/sketch/constants.cpp
e2ecommands_metro/build/sketch/constants.cpp.d
e2ecommands_metro/build/sketch/constants.cpp.o
e2ecommands_metro/build/sketch/constants.h
e2ecommands_metro/build/sketch/e2ecommands_metro.ino.cpp
e2ecommands_metro/build/sketch/e2ecommands_metro.ino.cpp.d
e2ecommands_metro/build/sketch/e2ecommands_metro.ino.cpp.o
e2ecommands_metro/build/sketch/fec.cpp
e2ecommands_metro/build/sketch/fec.cpp.d
e2ecommands_metro/build/sketch/fec.cpp.o
e2ecommands_metro/build/sketch/fec.h
e2ecommands_metro/build/sketch/KISS.cpp
e2ecommands_metro/build/sketch/KISS.cpp.d
e2ecommands_metro/build/sketch/KISS.cpp.o
e2ecommands_metro/build/sketch/KISS.h
e2ecommands_metro/build/sketch/packetfinder.h
e2ecommands_metro/build/sketch/testing_support.cpp
e2ecommands_metro/build/sketch/testing_support.cpp.d
e2ecommands_metro/build/sketch/testing_support.cpp.o
e2ecommands_metro/build/sketch/testing_support.h
e2ecommands_metro/build/sketch/.build/preproc/ctags_target_for_gcc_minus_e.cpp
e2ecommands_metro/build/sketch/.build/sketch/ax_fifo.h
e2ecommands_metro/build/sketch/.build/sketch/ax_hw.cpp
e2ecommands_metro/build/sketch/.build/sketch/ax_hw.h
e2ecommands_metro/build/sketch/.build/sketch/ax_modes.cpp
e2ecommands_metro/build/sketch/.build/sketch/ax_modes.h
e2ecommands_metro/build/sketch/.build/sketch/ax_params.cpp
e2ecommands_metro/build/sketch/.build/sketch/ax_params.h
e2ecommands_metro/build/sketch/.build/sketch/ax_reg_values.h
e2ecommands_metro/build/sketch/.build/sketch/ax_reg.h
e2ecommands_metro/build/sketch/.build/sketch/ax.cpp
e2ecommands_metro/build/sketch/.build/sketch/ax.h
e2ecommands_metro/build/sketch/.build/sketch/beacon.cpp
e2ecommands_metro/build/sketch/.build/sketch/beacon.h
e2ecommands_metro/build/sketch/.build/sketch/commands.cpp
e2ecommands_metro/build/sketch/.build/sketch/commands.h
e2ecommands_metro/build/sketch/.build/sketch/constants.cpp
e2ecommands_metro/build/sketch/.build/sketch/constants.h
e2ecommands_metro/build/sketch/.build/sketch/e2ecommands_metro.ino.cpp
e2ecommands_metro/build/sketch/.build/sketch/fec.cpp
e2ecommands_metro/build/sketch/.build/sketch/fec.h
e2ecommands_metro/build/sketch/.build/sketch/KISS.cpp
e2ecommands_metro/build/sketch/.build/sketch/KISS.h
e2ecommands_metro/build/sketch/.build/sketch/packetfinder.h
e2ecommands_metro/build/sketch/.build/sketch/testing_support.cpp
e2ecommands_metro/build/sketch/.build/sketch/testing_support.h
/build
/e2ecommands_metro/build
